.page {
  background-attachment: scroll;
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin-block-start: 100px;
  font-variation-settings: "wght" 400;
  font-family: var(--font-famaly-main);
  justify-content: center;
  display: grid;
  align-items: center;
  background-color: var(--background-color);
  color: var(--main-color);
  background-image: repeating-linear-gradient(
      to right,
      var(--repeating-linear-gradient-color) 0,
      var(--repeating-linear-gradient-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      var(--repeating-linear-gradient-color) 0,
      var(--repeating-linear-gradient-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    var(--linear-gradient);
}

.header {
  font-family: var(--font-famaly-title);
  gap: 20px;
  display: grid;
  justify-content: center;
  font-variation-settings: var(--wght-text);
  background-color: var(--background-color);
  max-width: 696px;
}

.theme-menu__list {
  gap: 12px;
  display: grid;
  justify-content: center;
  padding: 2px 0px 22px 15px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 65px;
  margin-block-start: 138px;
}

.header__title-text {
  line-height: 23px;
  display: grid;
  justify-content: center;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main__text {
  max-width: 670px;
  font-size: 18px;
  font-variation-settings: var(--wght-text);
  line-height: 21px;
  padding-left: 24px;
  font-family: var(--font-famaly-main);
}

.main__content {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-variation-settings: 400;
  line-height: 14px;
  cursor: pointer;
  position: relative;
}

.theme-menu__button:after {
  display: block;
  position: absolute;
  left: 0;
  top: 16px;
  width: 0;
  height: 2px;
  content: "";
  transition: width 0.3s ease-out;
  background-color: var(--main-color);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 60%;
}

.theme-menu__button:focus::after {
  width: 100%;
}

.theme-menu__button:disabled {
  opacity: 60%;
  position: relative;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  color: var(--main-color);
  animation: rotatemove 0.8s ease-in-out infinite;
  pointer-events: none;
  left: -17px;
  top: 0px;
  opacity: 60%;
}

.button__text {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 36px;
}

.main {
  margin-block-start: 101px;
  max-width: 696px;
  display: grid;
  gap: 54px;
}

.button__text__like {
  padding: 0px 25px 23px 0px;
  gap: 3px;
}

.card__botton {
  border: var(--border);
  font-size: 14px;
  line-height: 90%;
  background-color: var(--background-color);
  font-family: var(--font-famaly-title);
  position: relative;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.card__botton:focus {
  outline: none;
  box-shadow: var(--button-shadow);
}

.card__botton:hover {
  cursor: pointer;
}

.card__botton::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-button);
  transition: 0.5s ease-in-out;
  mix-blend-mode: difference;
  z-index: 1;
}

.card__botton:hover::before {
  transform: translateX(100%);
}

.card__like-button {
  min-width: 130px;
  display: flex;
  justify-content: center;
  padding: 0px;
}

.card__save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-block-end: 40px;
  min-width: 335px;
  min-height: 54px;
}

.like-icon {
  border: none;
  background-color: var(--background-color);
  color: var(--main-color);
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-icon:focus {
  outline: none;
  max-height: 36px;
}

.like-icon:focus-visible {
  outline: 2px solid var(--main-color);
}

.title {
  border-bottom: var(--border);
  font-size: 18px;
  font-variation-settings: var(--wght-title);
  background-color: var(--background-color);
  padding: 5px 0px 5px 10px;
  color: var(--main-color);
}

.content__inside {
  background-color: var(--background-color);
  border: var(--border);
}

.card__container-image {
  position: relative;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom: var(--border);
}

.label {
  font-family: var(--font-famaly-title);
  font-size: 14px;
  line-height: 14px;
  opacity: 50%;
  top: 26px;
  right: 23px;
  position: absolute;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
}

@supports (
  -webkit-text-stroke: 1px 0 var(--background-color),
  0 1px var(--background-color),
  1px 0 var(--background-color),
  0 -1px var(--background-color)
) {
  .lebel {
    -webkit-text-stroke: 1px 0 var(--background-color),
      0 1px var(--background-color), 1px 0 var(--background-color),
      0 -1px var(--background-color);
    text-shadow: none;
  }
}

@supports (
  -text-stroke: 1px 0 var(--background-color),
  0 1px var(--background-color),
  1px 0 var(--background-color),
  0 -1px var(--background-color)
) {
  .lebel {
    -text-stroke: 1px 0 var(--background-color), 0 1px var(--background-color),
      1px 0 var(--background-color), 0 -1px var(--background-color);
    text-shadow: none;
  }
}

.contour {
  fill: var(--color-contour);
  transition: fill 0.1s linear;
}

.core {
  fill: var(--color-contour);
  opacity: 0;
  transition: 0.3s 0.03s linear;
}

.main-body {
  fill: var(--color-contour);
  opacity: 0;
  transition: opacity 0.3s linear;
}

.sparks {
  fill: var(--fill-color-heart);
  opacity: 0;
}

.is-liked .contour {
  fill: var(--fill-color-heart);
  transition: fill 0.3s 0.06s linear;
}

.is-liked .main-body {
  fill: var(--fill-color-heart);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:hover .main-body {
  opacity: 1;
  transition: opacity 0.3s 0.05 linear;
}

.like-icon:active .main-body {
  fill: var(--fill-color-heart);
  transition: fill 0.3s 0.05s linear;
}

.is-liked .core {
  fill: var(--fill-color-heart);
  transition: fill 0.3s linear;
  opacity: 0;
}

.like-icon:hover .core {
  opacity: 1;
  transition: opacity 0.3s linear;
}

.like-icon:active .core {
  fill: var(--fill-color-heart);
  transition: fill 0.3s linear;
}

.dialog {
  background-color: var(--background-color);
  color: var(--main-color);
  border: var(--border);
  max-width: 357px;
}

.dialog::backdrop {
  background-color: #000;
  opacity: 75%;
}

.dialog__button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  border: var(--border);
  block-size: 38px;
  width: 100%;
  max-width: 293px;
  margin-inline-start: 15px;
  margin-block-end: 20px;
  transition: box-shadow 0.3 ease;
}

.dialog__button-text {
  display: block;
  font-family: var(--font-famaly-title);
  font-size: 14px;
  font-variation-settings: var(--wght-text);
  line-height: 12.6px;
}

.dialog__button:hover:active {
  left: 100%;
}

.dialog__text {
  font-family: var(--font-famaly-title);
  font-size: 14px;
  font-variation-settings: "wght" 400;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog_floppy {
  height: 39px;
  width: 39px;
  color: var(--main-color);
}

.dialog_label {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 22% 78%;
  padding: 25px 0px 25px 20px;
}

.close-button {
  min-height: 38px;
  min-width: 293px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: 15px;
  margin-block-end: 10px;
}

.save_floppy {
  max-width: 21px;
  max-height: 21px;
}

@media (width <= 375px) {
  .close-button {
    min-width: 257px;
    align-items: center;
    justify-content: center;
    margin-inline-start: 25px;
    margin-block-end: 10px;
  }
  .dialog_label {
    grid-template-columns: 20% 79%;
    margin-inline-start: 10px;
  }
  .title {
    max-width: 350px;
  }
  .main__text {
    max-width: 344px;
  }
  .main__content {
    gap: 23px;
  }
  .card__save-button {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    min-width: 306px;
  }
  .header {
    gap: 10px;
  }
  .theme-menu__list {
    padding: 6px 0px 22px 20px;
  }
  .header__title {
    margin-block-start: 111px;
  }
  .page {
    margin-block-start: 127px;
  }
  .main {
    gap: 56px;
  }
  .save_floppy {
    max-width: 28px;
    max-height: 28px;
    margin-top: 14px;
  }
  .label {
    top: 22px;
    right: 11px;
  }
  .dialog {
    max-width: 341px;
  }
}
