/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin-block-start: 100px;
  font-family: "Inter-Variable";
  justify-content: center;
  align-items: center;
  display: grid;
  background-color: var(--background-color);
  color: var(--text-color);
  background-size: cover;
  background-image: repeating-linear-gradient(
      to right,
      var(--repeating-linear-gradient-color) 0,
      var(--repeating-linear-gradient-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      var(--repeating-linear-gradient-color) 0,
      var(--repeating-linear-gradient-color) 2px,
      transparent 2px,
      transparent 4px
    );
}

.header {
  font-family: "PressStart2P";
  gap: 20px;
  display: grid;
  justify-content: center;
  font-weight: 400;
  background-color: var(--background-color);
}

.theme-menu__list {
  gap: 12px;
  display: grid;
  justify-content: center;
  padding-bottom: 20px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 65px;
  margin-block-start: 138px;
}

.header__title-text {
  line-height: 23px;
  display: grid;
  justify-content: center;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main__text {
  max-width: 660px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 25px;
}

.main__content {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  border-bottom: var(--border);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  position: relative;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  color: var(--accent-color);
  animation-name: rotatemove;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  pointer-events: none;
  left: -17px;
  opacity: 0.6;
}

.button__text {
  display: flex;
  justify-content: right;
  gap: 12px;
}

.main {
  margin-block-start: 65px;
}

.button__text__like {
  padding: 0px 25px 25px 0px;
}

.card__botton {
  border: var(--border, 2px solid #000);
  font-size: 14px;
  line-height: 90%;
  background-color: var(--background-color);
  font-family: "PressStart2P";
  position: relative;
  overflow: hidden;
}

.card__botton:focus {
  outline: none;
  box-shadow: 2px 2px 4px 0px black;
  transition: all 0.5s ease-in-out;
}

.card__botton:hover {
  cursor: pointer;
}

.card__botton::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: all 0.5s ease-in-out;
  mix-blend-mode: difference;
  z-index: 1;
}

.card__botton:hover::before {
  transform: translateX(100%);
}

.card__like-button {
  min-width: 130px;
  min-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-block-start: 20px;
  min-width: 335px;
  min-height: 55px;
  margin-block-end: 40px;
}

.like-icon {
  border: none;
  background-color: var(--background-color);
  color: var(--text-color);
}

.like-icon:focus {
  outline: none;
}

.like-icon:focus-visible {
  outline: 2px solid black;
  transition: all 0.3s ease;
}

.title {
  border-bottom: var(--border);
  font-size: 18px;
  font-weight: 700;
  background-color: var(--background-color);
  min-height: 31px;
  padding: 5px 0px 5px 10px;
}

.content__inside {
  background-color: var(--background-color);
  border: var(--border);
  margin-block-end: 40px;
}

.card__container-image {
  position: relative;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom: var(--border);
}

.label {
  font-family: "PressStart2P";
  font-size: 14px;
  line-height: 14px;
  opacity: 50%;
  top: 27px;
  right: 25px;
  position: absolute;
  opacity: 50%;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
}

.contour {
  fill: var(--color-contour);
  transition: fill 0.1s;
}

.core {
  fill: var(--color-contour);
  opacity: 0;
  transition: 0.3s 0.05s;
}

.main-body {
  fill: var(--color-contour);
  opacity: 0;
  transition: opacity 0.3s 0.05s;
}

.sparks {
  fill: var(--fill-color-heart);
  opacity: 0;
}

.is-liked .contour {
  fill: var(--fill-color-heart);
  transition: fill 0.3s 0.05s;
}

.is-liked .main-body {
  fill: var(--fill-color-heart);
  transition: fill 0.3s 0.05s;
}

.like-icon:hover .main-body {
  opacity: 1;
  transition: opacity 0.3s 0.05;
}

.like-icon:active .main-body {
  fill: var(--fill-color-heart);
  transition: fill 0.3 0.05s;
}

.is-liked .core {
  fill: var(--fill-color-heart);
  transition: fill 0.3 0.03s;
  opacity: 0;
}

.like-icon:hover .core {
  opacity: 1;
  transition: opacity 0.3s;
}

.like-icon:active .core {
  fill: var(--fill-color-heart);
  transition: fill 0.3 0.05s;
}

@media (prefers-reduced-motion: no-preference) {
  .like-icon.is-liked .heart .main-body {
    animation: heart 0.3s 0.1s ease-in forwards;
  }

  .like-icon.is-liked .heart {
    transform-origin: center;
    animation: heart 0.3s 0.1s reverse ease-in;
  }

  .like-icon.is-liked .heart .core {
    animation: CoreHeart 0.3s 0.1s ease-in forwards;
  }

  .is-liked .sparks {
    animation: sparks 0.3s 0.3s ease-in normal;
  }

  .is-liked .heart .contour,
  .is-liked .heart .main-body,
  .is-liked .heart .core {
    animation: scaleheart 0.3s 0.01s ease-in normal;
  }
}
