/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

.theme-light {
  --background-color: white;
  --text-color: #000000;
  --border: 2px solid black;
  --repeating-linear-gradient-color: #d3d3d3;
  --linear-gradient: linear-gradient(#e7e7e7 0.01%, #e7e7e7, #1a1a1a);
  --fill-color-heart: #ff0000;
  --color-contour: black;
  --color-core: white;
  --font-famaly-main: "Inter-Variable", "Arial", sans-serif;
  --font-famaly-title: "PressStart2P", "Arial", sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: white;
    --text-color: #000000;
    --border: 2px solid black;
    --repeating-linear-gradient-color: #d3d3d3;
    --linear-gradient: linear-gradient(#e7e7e7 0.01%, #e7e7e7, #1a1a1a);
    --fill-color-heart: #ff0000;
    --color-contour: black;
    --color-core: white;
    --font-famaly-main: "Inter-Variable", "Arial", sans-serif;
    --font-famaly-title: "PressStart2P", "Arial", sans-serif;
  }
}

.theme-dark {
  --background-color: black;
  --text-color: #00cc14;
  --border: 2px solid #00cc14;
  --repeating-linear-gradient-color: #004308;
  --linear-gradient: linear-gradient(#007f0c 0.01%, #004308);
  --fill-color-heart: #ff0000;
  --color-contour: #00cc14;
  --color-core: white;
  --font-famaly-main: "Inter-Variable", "Arial", sans-serif;
  --font-famaly-title: "PressStart2P", "Arial", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --text-color: #00cc14;
    --border: 2px solid #00cc14;
    --repeating-linear-gradient-color: #004308;
    --linear-gradient: linear-gradient(#007f0c 0.01%, #007f0c);
    --fill-color-heart: #ff0000;
    --color-contour: #00cc14;
    --color-core: white;
   --font-famaly-main: "Inter-Variable", "Arial", sans-serif;
   --font-famaly-title: "PressStart2P", "Arial", sans-serif;
  }
}
